{% load static %}
<!DOCTYPE html >
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'blog/app.css'%}">
    {% block css_files%}{% endblock%}
</head>
<body>
    <header id="main-navigation">
        <h1><a href=""> مدونتي الشخصية</a></h1>
        <nav>
            <a href=""> جميع المقالات</a>
        </nav>
    </header>
    {% block content %}
        {% endblock content %}
</body>
</html>