{% extends "blog/base.html" %}
{% load static%}

{% block title %}
مدونتي الشخصية
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock%}

{% block content %}

<section id ="welcome">
    <header>
        <img src="{% static 'blog/NKsTMVLT_400x400.png'%}" alt="عبد القادر صاحب المدونة">
        <br>
        <h2>مدونة عبد القادر</h2>  
    </header>
    <p>مرحبا أنا عبد القادر و أحب التدوين حول بايثون و جانغو</p>
</section>
<section id="latest-posts">
    <h2>أخر التدوينات</h2>
    <ul>
        {% include "blog/includes/posts.html"%}
</section>
<section id="about">
    <h2>من انا</h2>
    <p>احب البرمجة واحب مساعدة الناس</p>
</section>
{% endblock  %}